
.body {
	background: linear-gradient(-45deg, #fcaf97, #f0cffdd7, #afe8fd, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  opacity: 95%;
  max-width: 100%;
}
.main{
  margin-top: 58px;
  margin-right: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 200px;
  z-index: 600;
  
  border-radius: 8px;

}
#main-navbar{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  background: linear-gradient(-45deg, #e8c1ff, #68d8ecd7, #77e8f7, #ffffff);
  border-radius: 8px;
  box-shadow: 0 0 40px -10px rgb(68, 2, 57);
}
#logo{
  margin-left: 40px;
}

#myAccounts{
background-position: center;

}
.tableEdit{
  background-color: transparent;
}
.Transter{
  margin-top: 0.2rem;
  background-color: #82e6ff;
  height: 7.2rem ;
  justify-content: center;
  border-radius: 8px;
}
.link{
  color: #46117ab2;
}

.celular{

  width: 250px;
   height: 250px;
}
#accounts{
background: transparent;
}
#myLoans{
  background-color: #ac7aec;
}
#newLoan{
  background-color: #82e6ff;
  height: 217px ;
  justify-content: center;
  
}

.cardAccount {
 
  border-radius: 8px;
  box-shadow: 0 0 40px -10px rgb(68, 2, 57);
  
}

.cardLinks {

  border-radius: 8px;
  box-shadow: 0 0 40px -10px rgb(68, 2, 57);
  background-color: #ffffff77;

}

.cardTransfer {
  margin-top: 8rem;
  height:20rem;
  justify-items: center;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px rgb(68, 2, 57);
  background-color: #ffd6d677;


}

/*TCards cuentas///////////////////////////*/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

/*Login/////////////////////////////////////////////////*/

.cardLogin{
  backdrop-filter: blur(9px);
  border-radius: 12px;
  box-shadow: 0 0 40px -10px rgb(68, 2, 57);

  
 }

#login{
  background-image: linear-gradient(120deg, #6018d463 0%, #70019c7e 100%);
  backdrop-filter: blur(7px);
  border-radius: 5px; (8, 115, 255, 0.5), inset 0px -12px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(244, 158, 255);
}
.btn-primary {
  color: #fff;
  background-color: #380b6bb9;
}
.btn-danger {
  color: #fff;
  background-color: #fa1239c9;
}
 #logoLogin{
  margin-left: 4rem;
  width: 250px;
   height: 250px;
  }
.loginText{
   margin-left: 5rem;

    }

.loginTitle{
  margin-left: 5rem;
 
    }




/*/////////////////////////////////////////*/
.debito{
  background-color: rgb(255, 0, 0);
}

.sidebar-sticky {
  
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.silver{
  background-color:#757575;
text-shadow:-1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}
.gold{
  background-color:#faab00;
  text-shadow:-1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}
.titanium{
  background-color:#141216;
  text-shadow:-1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}

.card1{
width: 320px;
height: 190px;
-webkit-perspective: 600px;
-moz-perspective: 600px;
perspective:600px;

}

.card__part  {
box-shadow: 1px 1px #aaa3a3;
  top: 0;
position: absolute;
z-index: 1000;
left: 0;
display: inline-block;
  width: 320px;
  height: 190px;
background-image: linear-gradient(to right bottom, #ff7300, #ff8800, #ffb62f, #ffc353, #ffead2); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
 
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__front{
padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
background-image: url("./img/pngwing.com.png"); 
}

.card__back {
padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);

background-image: url("./img"); 
}

.card__black-line {
  margin-top: 5px;
  height: 38px;
  background-color: #303030;
}

.card__logo {
  height: 5px;
  top: 0.5rem;
  right: 0.5rem;
  
}

.card__front-logo{
    position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0.7;
  
}
.card__square {
  border-radius: 5px;
  height: 30px;
}

.card_numer {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card__space-75 {
  width: 75%;
  float: left;
}

.card__space-25 {
  width: 25%;
  float: left;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.card__info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
letter-spacing: 1px;
text-transform: uppercase;
}

.card__back-content {
  padding: 15px 15px 0;
}
.card__secret--last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.card__secret {
  padding: 5px 12px;
  background-color: #fff;
  position:relative;
}

.card__secret:before{
content:'';
position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card__back-square {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card1:hover .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

}

.card1:hover .card__back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}   

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}


@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  
}
@media (max-width: 991.98px){
.celular{
  width: 150px;
   height: 150px;
}
}
@media (max-width: 991.98px){
#logoLogin{
  margin-left: -5;
  width: 10rem;
  height: 10rem;
}
}
@media (max-width: 991.98px){
  .loginText{
    margin-left: -2rem;
  }
  }
  @media (max-width: 991.98px){
  .loginTitle{
    margin-left: -1rem;
  }
  }





